body {
  margin: 0;
  padding: 0;
}

/* Sidebar */
#sidebar {
  background-color: #212529;
  color: #fff;
  width: 160px;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0;
  overflow-y: auto;
  padding-top: 20px;
}

#sidebar .nav-link {
  color: #fff;
  padding: 10px 15px;
  font-size: 0.95rem;
}

#sidebar .nav-link:hover {
  background-color: #343a40;
}

#sidebar .submenu {
  padding-left: 30px;
  font-size: 0.9rem;
}

#sidebar > div.text-center {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 15px;
  gap: 6px;
  white-space: nowrap;
  overflow: hidden;
}

#sidebar i.fa-paw {
  font-size: 1.2rem;
  margin: 0;
  flex-shrink: 0;
}

#sidebar a.home {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.navbar {
  margin-left: 160px; /* <- deixa espaço para o menu lateral */
  width: calc(100% - 160px); /* <- barra não ocupa toda a largura */
  z-index: 1040;
}

/* Conteúdo principal */
#main {
  margin-left: 160px;
  padding: 2rem;
  position: relative;
  top: 30px;
}

@media (max-width: 991.98px) {
  #sidebar {
    position: fixed;
    top: 56px;
    left: -160px;
    transition: left 0.3s;
  }

  #sidebar.show {
    left: 0;
  }

  .navbar {
    margin-left: 0;
  }

  #main {
    margin-left: 0;
  }
}
